body {
    background-image: url(background_img.webp);
    background-size: 1700px;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100vw;
    display: grid;
    align-items: center;
    justify-content: center;
}

.caixa-maior {
    background-color: silver;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}

.titulo {
    color: #2c3e50;
    text-align: center;
    margin-top: 1px;
    font-family: Arial, sans-serif;
}

#form1 {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: silver;
}

#nome {
    width: 60%;
}

#botao-agendar {
    background-color: blue;
    color: white;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

#botao-agendar:hover {
    background-color: rgb(13, 13, 71);
    transform: scale(0.97);
}

.botao-navegador {
    background-color: blue;
    color: white;
    width: 30%;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.botao-navegador:hover {
    background-color: rgb(13, 13, 71);
    transform: scale(0.97);
}

.flash-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.flash-message {
    background-color: #ffe0e0;       /* fundo vermelho claro */
    color: #8a1f1f;                  /* texto vermelho escuro */
    padding: 12px 20px;
    border-radius: 8px;
    border: 1px solid #f5a5a5;
    font-weight: bold;
    width: 100%;
    max-width: 400px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
