body {
    background-image: url(background_img.webp);
    background-size: 1700px;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

.titulo1 {
    color: #2c3e50;
    text-align: center;
    margin-top: 0;
    font-family: Arial, sans-serif;
}

.titulo2 {
    color: #2c3e50;
    text-align: center;
    margin-top: 1px;
    font-family: Arial, sans-serif;
}

.politicas {
    color: #2c3e50;
    text-align: center;
    margin-top: 1px;
    font-family: Arial, sans-serif;
}

.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;     /* centraliza horizontalmente */
    margin-top: 30px;        /* aproxima do topo */
}

.caixa-maior {
    background-color: silver;
    width: 500px;
    padding: 20px;
    border-radius: 20px;
    align-self: center;
}

.botao-navegador {
    background-color: blue;
    color: white;
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
}

.botao-navegador:hover {
    background-color: rgb(13, 13, 71);
    transform: scale(0.97);
}